
// Regular
@font-face {
  font-family: '28days';
  src: font-url('28-days-later/28_days_later.eot');
  src: font-url('28-days-later/28_days_later.eot?#iefix') format('embedded-opentype'),font-url('28-days-later/28_days_later.woff2') format('woff2'),font-url('28-days-later/28_days_later.woff') format('woff'),font-url('28-days-later/28_days_later.ttf') format('truetype');
}