
// Regular
@font-face {
  font-family: '28days';
  src: url('#{$font-path}28-days-later/28_days_later.eot');
  src: url('#{$font-path}28-days-later/28_days_later.eot?#iefix') format('embedded-opentype'),url('#{$font-path}28-days-later/28_days_later.woff2') format('woff2'),url('#{$font-path}28-days-later/28_days_later.woff') format('woff'),url('#{$font-path}28-days-later/28_days_later.ttf') format('truetype');
}