
// Regular
@font-face {
  font-family: 'arvo';
  src: url('#{$font-path}arvo/arvo-regular_201.eot');
  src: url('#{$font-path}arvo/arvo-regular_201.eot?#iefix') format('embedded-opentype'),url('#{$font-path}arvo/arvo-regular_201.woff2') format('woff2'),url('#{$font-path}arvo/arvo-regular_201.woff') format('woff'),url('#{$font-path}arvo/arvo-regular_201.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'arvo';
  src: url('#{$font-path}arvo/arvo-bold_201.eot');
  src: url('#{$font-path}arvo/arvo-bold_201.eot?#iefix') format('embedded-opentype'),url('#{$font-path}arvo/arvo-bold_201.woff2') format('woff2'),url('#{$font-path}arvo/arvo-bold_201.woff') format('woff'),url('#{$font-path}arvo/arvo-bold_201.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Italic
@font-face {
  font-family: 'arvo';
  src: url('#{$font-path}arvo/arvo-italic_201.eot');
  src: url('#{$font-path}arvo/arvo-italic_201.eot?#iefix') format('embedded-opentype'),url('#{$font-path}arvo/arvo-italic_201.woff2') format('woff2'),url('#{$font-path}arvo/arvo-italic_201.woff') format('woff'),url('#{$font-path}arvo/arvo-italic_201.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Bold Italic
@font-face {
  font-family: 'arvo';
  src: url('#{$font-path}arvo/arvo-bolditalic_201.eot');
  src: url('#{$font-path}arvo/arvo-bolditalic_201.eot?#iefix') format('embedded-opentype'),url('#{$font-path}arvo/arvo-bolditalic_201.woff2') format('woff2'),url('#{$font-path}arvo/arvo-bolditalic_201.woff') format('woff'),url('#{$font-path}arvo/arvo-bolditalic_201.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}