
// Regular
@font-face {
  font-family: 'handsean';
  src: url('#{$font-path}handsean/handsean.eot');
  src: url('#{$font-path}handsean/handsean.eot?#iefix') format('embedded-opentype'),url('#{$font-path}handsean/handsean.woff2') format('woff2'),url('#{$font-path}handsean/handsean.woff') format('woff'),url('#{$font-path}handsean/handsean.ttf') format('truetype');
}