
// Regular
@font-face {
  font-family: 'handsean';
  src: font-url('handsean/handsean.eot');
  src: font-url('handsean/handsean.eot?#iefix') format('embedded-opentype'),font-url('handsean/handsean.woff2') format('woff2'),font-url('handsean/handsean.woff') format('woff'),font-url('handsean/handsean.ttf') format('truetype');
}