
// Dingbats
@font-face {
  font-family: 'nexa-rust_extras';
  src: url('#{$font-path}nexa-rust/nexarustextras-free-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarustextras-free-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustextras-free-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustextras-free-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustextras-free-webfont.ttf') format('truetype');
}

// Hand Display
@font-face {
  font-family: 'nexa-rust_handmade';
  src: url('#{$font-path}nexa-rust/nexarusthandmade-extended-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarusthandmade-extended-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarusthandmade-extended-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarusthandmade-extended-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarusthandmade-extended-webfont.ttf') format('truetype');
}

// Display Sans
@font-face {
  font-family: 'nexa-rust-sans_black';
  src: url('#{$font-path}nexa-rust/nexarustsans-black-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustsans-black-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustsans-black-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustsans-black-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'nexa-rust-sans_black02';
  src: url('#{$font-path}nexa-rust/nexarustsans-black02-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarustsans-black02-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustsans-black02-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustsans-black02-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustsans-black02-webfont.ttf') format('truetype');
}

// Script
@font-face {
  font-family: 'nexa-rust_light';
  src: url('#{$font-path}nexa-rust/nexarustscriptl-00-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarustscriptl-00-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustscriptl-00-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustscriptl-00-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustscriptl-00-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'nexa-rust_light02';
  src: url('#{$font-path}nexa-rust/nexarustscriptl-02-webfont.eot');
  src: url('#{$font-path}nexa-rust/nexarustscriptl-02-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustscriptl-02-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustscriptl-02-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustscriptl-02-webfont.ttf') format('truetype');
}

// Display Slab
@font-face {
  font-family: 'nexa-rust_black-shadow';
  src: url('#{$font-path}nexa-rust/nexarustslab-blackshadow01-webfont.eot');src: url('#{$font-path}nexa-rust/nexarustslab-blackshadow01-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustslab-blackshadow01-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustslab-blackshadow01-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustslab-blackshadow01-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'nexa-rust_black';
  src: url('#{$font-path}nexa-rust/nexarustslab-black-webfont.eot');src: url('#{$font-path}nexa-rust/nexarustslab-black-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustslab-black-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustslab-black-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustslab-black-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'nexa-rust_black02';
  src: url('#{$font-path}nexa-rust/nexarustslab-black02-webfont.eot');src: url('#{$font-path}nexa-rust/nexarustslab-black02-webfont.eot?#iefix') format('embedded-opentype'),url('#{$font-path}nexa-rust/nexarustslab-black02-webfont.woff2') format('woff2'),url('#{$font-path}nexa-rust/nexarustslab-black02-webfont.woff') format('woff'),url('#{$font-path}nexa-rust/nexarustslab-black02-webfont.ttf') format('truetype');
}

